<!DOCTYPE html>
<html>
<head>
    <title>检索文章</title>
    <meta charset="utf-8" />
    <script src="content/js/toastr.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="content/js/jquery-3.1.1.min.js"></script>
    <script src="content/js/medm.js?201805042108"></script>
    <script src="content/js/utility.js?201705231258"></script>
    <script src="content/js/spinner.js"></script>
    <script src="content/js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="content/css/medm.css" />
    <link rel="stylesheet" type="text/css" href="content/css/common.css" />
    <style>
    </style>
    <script>
        $(document).ready(function(){
        });
    </script>
</head>
<body>
    <div id="header">
        <script>
            loadPage("header", "header");
        </script>
    </div>
    <div id="body" class="page">
        <div>
            <div id="pagetitle"><span>首页</span><span id="articletype">检索文章</span></div>
            <div id="articlelist" class="loadpane">
                <div v-for="item in list" class="articleitem">
                    <div class="title ellipsis"><a v-bind:href="'article.html?id='+item.Id"><span>{{item.Title}}</span></a></div>
                    <div class="date"><span>{{getDateString(item.CreateTime)}}</span></div>
                </div>
                <div class="cb"></div>
                <div v-if="list.count<20" id="loadmorebutton" v-on:click="loadMore">加载更多</div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script>
        loadPage("footer", "footer");
    </script>
    <script>
        $(document).ready(function () {
            $("#searchstring").val(decodeURI(getParameterValue2("s")));
            articleList.loadMore();
        });
        var articleList = new Vue({
            el: '#articlelist',
            data: {
                list: []
            },
            methods: {
                loadMore: function () {
                    var self = this;
                    var searchString = decodeURI(getParameterValue2("s"));
                    api.odata.getList({
                        LoadingId:"articlelist",
                        SetName: 'article',
                        Uri: "?$filter=contains(Title,'{0}')&$orderby=Id desc".format(searchString),
                        Success: function (data) {
                            self.list = self.list.concat(data.value);
                        },
                        Failed: function (data) {
                            alert("获取文章列表失败！{0}".format(data));
                        }
                    });
                },
                getDateString: getDateString
            }
        });
    </script>
</body>
</html>
